
/* ============== 21. 스탯 페이지 ============== */
.top3-container {
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
  justify-content: flex-start;
}

.top-card_first,
.top-card_second,
.top-card_third,
.top-card_fourth,
.top-card_fifth {
  background: #292b32;
  border-radius: 20px;
  padding: 22px 18px 18px 18px;
  text-align: center;
  box-shadow: 0 2px 10px #0003;
  width: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-card_first .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #ffd700;
  margin-bottom: 10px;
}
.top-card_second .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #c0c0c0;
  margin-bottom: 10px;
}
.top-card_third .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #cd7f32;
  margin-bottom: 10px;
}

.top-card_fourth .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.player-name {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 4px;
}

.other-name {
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 70px;
  text-decoration: none;
}

.other-name:hover {
  color: #7699b6;
  text-decoration: underline;
}
.player-team {
  font-size: 13px;
  color: #9ea7af;
  margin-bottom: 8px;
}
.player-goals {
  margin-top: 7px;
  font-size: 17px;
  color: #ffd700;
  font-weight: bold;
}

/* 반응형 */
@media (max-width: 600px) {
  .top3-container {
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }
  .top-card_first,
  .top-card_second,
  .top-card_third
  .top-card_fourth {
    width: 90vw;
    max-width: 320px;
  }
}

.assist3-container {
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
  justify-content: flex-start;
}

.assist-card_first,
.assist-card_second,
.assist-card_third,
.assist-card_fourth,
.assist-card_fifth {
  background: #1c2942; /* 파란 계열 */
  border-radius: 20px;
  padding: 22px 18px 18px 18px;
  text-align: center;
  box-shadow: 0 2px 10px #0003;
  width: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assist-card_first .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #42b6ff;
  margin-bottom: 10px;
}
.assist-card_second .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #7ecbff;
  margin-bottom: 10px;
}
.assist-card_third .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #aeeaff;
  margin-bottom: 10px;
}
.assist-card_fourth .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.player-assists {
  margin-top: 7px;
  font-size: 17px;
  color: #42b6ff;
  font-weight: bold;
}

/* 반응형 */
@media (max-width: 600px) {
  .assist3-container {
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }
  .assist-card_first,
  .assist-card_second,
  .assist-card_third,
  .assist-card_fourth {
    width: 90vw;
    max-width: 320px;
  }
}

/*여긴 자책골 부분*/
.own-container {
  display: flex;
  gap: 30px;
  margin-bottom: 32px;
  justify-content: flex-start;
}

.own-card_first,
.own-card_second,
.own-card_third,
.own-card_fourth,
.own-card_fifth {
  background: #1c2942; /* 파란 계열 */
  border-radius: 20px;
  padding: 22px 18px 18px 18px;
  text-align: center;
  box-shadow: 0 2px 10px #0003;
  width: 140px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.own-card_first .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #42b6ff;
  margin-bottom: 10px;
}
.own-card_second .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #7ecbff;
  margin-bottom: 10px;
}
.own-card_third .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: #aeeaff;
  margin-bottom: 10px;
}
.own-card_fourth .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.own-card_fifth .rank-badge {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
/* 반응형 */
@media (max-width: 600px) {
  .own-container {
    flex-direction: column;
    gap: 14px;
    align-items: center;
  }
  .own-card_first,
  .own-card_second,
  .own-card_third,
  .own-card_fourth {
    width: 90vw;
    max-width: 320px;
  }
}
